<div class="as-search-wrapper" role="main">
    <div class="as-navtuck-wrapper">
        <div class="as-l-fullwidth  as-navtuck" data-events="event52">
            <div>
                <div class="pd-billboard pd-category-header">
                    <div class="pd-l-plate-scale">
                        <div class="pd-billboard-background">
                            <img src="{{host}}/assets/music-audio-alp-201709" alt="" width="1440" height="320"
                                data-scale-params-2="wid=2880&amp;hei=640&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1503948581306"
                                class="pd-billboard-hero ir">
                        </div>
                        <div class="pd-billboard-info">
                            <h1 class="pd-billboard-header pd-util-compact-small-18">Tienda e-commerce</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="as-search-results as-filter-open as-category-landing as-desktop" id="as-search-results">
        <div id="accessories-tab" class="as-accessories-details">
            <div class="as-accessories" id="as-accessories">
                <div class="as-accessories-header">
                    <div class="as-search-results-count">
                        <span class="as-search-results-value"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="col-lg-12 text-center">
    <h2>Resultado del pago:</h2>
</div>
<div class="col-lg-6 col-md-offset-3">
    <div class="alert alert-success">
        <div class="text-center">
            <h1> <i class="fas fa-check"></i> Su compra se ha completado exitosamente!</h1>
        </div>
        <br />
        <br />
        <div class="text-center">
            <h4><strong>Datos Adicionales</strong>:</h4>
            <br />
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th><strong>Campo</strong></th>
                    <th><strong>Valor</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i>collection_id</i></td>
                    <td>{{data.collection_id}}</td>
                </tr>
                <tr>
                    <td><i>collection_status</i></td>
                    <td>{{data.collection_status}}</td>
                </tr>
                <tr>
                    <td><i>external_reference</i></td>
                    <td>{{data.external_reference}}</td>
                </tr>
                <tr>
                    <td><i>payment_type</i></td>
                    <td>{{data.payment_type}}</td>
                </tr>
                <tr>
                    <td><i>preference_id</i></td>
                    <td>{{data.preference_id}}</td>
                </tr>
                <tr>
                    <td><i>site_id</i></td>
                    <td>{{data.site_id}}</td>
                </tr>
                <tr>
                    <td><i>processing_mode</i></td>
                    <td>{{data.processing_mode}}</td>
                </tr>
                <tr>
                    <td><i>merchant_account_id</i></td>
                    <td>{{data.merchant_account_id}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="col-lg-12">
    <div class="as-accessories-results as-search-desktop">
        <div class="width:60%">
            <div class="as-producttile-tilehero with-paddlenav " style="float:left;">
                <div class="images mini-gallery gal5 ">
                </div>
            </div>
        </div>
    </div>
</div>